#login-image{
    height: auto;
    width: 280px;
}

.houses-container div.card{
  margin:10px;
}

.dropzone {
    cursor: pointer;
    border: 1px solid #256EB8;
    height:100%;
    width:100%;
    border-radius: 3px;
    background-image: url("../images/3DragandDrop.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px;
    margin:0px;
  }