{{> top}}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            {{> loginform}}
        </div>

        <div class="col-xl-8">
            <img id="login-image" class="img-responsive mt-5" src="/images/holidayhome_round.png" alt="login house">
        </div>
    </div>
</div>

{{> bottom}}